<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:config="urn:schemas.stateless.be:dsl:configuration:annotations:2020" config:files="file://c:/files/web-original.config">
  <system.net config:action="insert">
    <connectionManagement config:action="insert">
      <add address="*" maxconnection="100" config:action="insert" config:discriminant="address" />
    </connectionManagement>
  </system.net>
</configuration>