<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:config="urn:schemas.stateless.be:dsl:configuration:annotations:2020" config:files="file://c:/files/web-original.config">
  <appSettings config:action="insert">
    <add key="first_setting" value="" config:action="insert" config:discriminant="key" />
    <add key="second_setting" value="" config:action="delete" config:discriminant="key" />
  </appSettings>
</configuration>