<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:config="urn:schemas.stateless.be:dsl:configuration:annotations:2020" config:files="file://c:/files/web-original.config">
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="customBehavior" type="TypeValue" config:action="upsert" config:discriminant="name" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>